#charset "UTF-8"

*{
    margin: 0%;
}

header {
    background-color: green;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 128, 0, 0.363);
    padding: 20px;

}


main {
    background-color: grey;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.404);
    border-radius: 30px;


}


footer {
    background-color: black;
    text-align: center;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;

}

h1 {
    text-align: center;
}
p {

}
nav {
    animation: none;
    padding: 5px;

}

a {
    color: black;
    background-color: white;
    padding: 4px;
    border-radius: 30px;
    position: absolute;

}
a:hover {
    background-color: rgba(0, 0, 255, 0.527);
    font-size: 20px;
    position: relative;
    text-decoration: underline;
}

video {
    width: 300px;

}