
*{
    margin: 0%;
}

header {
    background-color: green;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 128, 0, 0.363);

}


main {

}


footer {

}

h1 {
    text-align: center;
}
p {

}
a {
    
}